<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <filter>
  <filter-name>RequestEncode</filter-name>
  <filter-class>EE557.WangFei.Filter.RequestEncoding</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>RequestEncode</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>ProgrammeServlet</servlet-name>
  <servlet-class>EE557.WangFei.Service.ProgrammeService</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>StudentService</servlet-name>
  <servlet-class>EE557.WangFei.Service.StudentService</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>TeacherService</servlet-name>
  <servlet-class>EE557.WangFei.Service.TeacherService</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ModuleService</servlet-name>
  <servlet-class>EE557.WangFei.Service.ModuleService</servlet-class>
 </servlet>
 <servlet>
  <display-name>InitSystem</display-name>
  <servlet-name>InitSystem</servlet-name>
  <servlet-class>EE557.WangFei.Service.InitSystem</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ProgrammeServlet</servlet-name>
  <url-pattern>/programme.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StudentService</servlet-name>
  <url-pattern>/student.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TeacherService</servlet-name>
  <url-pattern>/teacher.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ModuleService</servlet-name>
  <url-pattern>/module.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InitSystem</servlet-name>
  <url-pattern>/init.do</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>500</error-code>
  <location>/500.jsp</location>
 </error-page>
 <jsp-config>
  <taglib>
   <taglib-uri>/WEB-INF/tld/c.tld</taglib-uri>
   <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
  </taglib>
 </jsp-config>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
