            <!-- begin footer -->
            <footer>
            <div class="row">
                <div class="span8">
                    <ul class="py-breadcrumb">
                        <li><a href="#">Menu</a> <span class="divider">|</span></li>
                        <li><a href="#">Menu</a> <span class="divider">|</span></li>
                        <li><a href="#">Menu</a> <span class="divider">|</span></li>
                        <li><a href="#">Menu</a> <span class="divider">|</span></li>
                        <li><a href="#">Menu</a> <span class="divider">|</span></li>
                        <li><a href="#">Menu</a> <span class="divider">|</span></li>
                        <li><a href="#">Menu</a> <span class="divider">|</span></li>
                        <li><a href="#">Menu</a></li>
                    </ul>
                </div>
                <div class="span6">
                    <form class="pull-right" action>
                        <input type="text" placeholder="Email">
                        <button class="btn" type="submit">subscribe</button>
                    </form>
                </div>
            </div>

            <p>This website only for college student project </br> Design by Pythonee</p>
            </footer>

        </div> <!-- /container -->

        <!-- 
        <script src="../js/bootstrap-dropdown.js"></script> 
        <script src="../js/bootstrap-twipsy.js"></script>
        <script src="../js/bootstrap-scrollspy.js"></script>
        -->
    </body>
</html>
