<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bags of design</title>
        <meta name="description" content="Demo Design Boostrap">
        <meta name="author" content="Pythonee">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!--[if IE 6]>
        <style>
            body {behavior: url("csshover3.htc");}
            #menu li .drop {background:url("image/drop.gif") no-repeat right 8px; 
        </style>
        <![endif]-->

        <link rel="shortcut icon" href="favicon.ico">

        <link rel="stylesheet" type="text/css" href="css/slide.css" />
        <link rel="stylesheet" href="css/menu.css" type="text/css" media="screen" />
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/over-default.css" rel="stylesheet">

        <script src="js/jquery.js"></script> 
        <script src="js/jquery-ui.js" ></script>
        <script src="js/bootstrap-alerts.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                    $("#featured > ul").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);
                });
        </script>

    </head>

    <body>
        <!-- begin header -->
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="/">Bags-of-Design</a>
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <form action="" class="pull-right">
                        <input class="input-small" type="text" placeholder="Username">
                        <input class="input-small" type="password" placeholder="Password">
                        <button class="btn" type="submit">Sign in</button>
                        <button class="btn" type="button" onClick="parent.location='signup'">Sign up</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- begin content -->
        <div class="container">

            <div class="content">

                <div class="page-header">
                    <div class="row">
                        <div class="span8"> 
                            <ul id="menu">
                                <li class="no-drop"><a href="/sort">Menu</a><!-- Begin Home Item -->
                                <li><a href="#" class="drop">Menu</a><!-- Begin Home Item -->
                                <div class="dropdown_2columns"><!-- Begin 2 columns container -->
                                    <div class="col_2">
                                        <h2>Welcome !</h2>
                                    </div>
                                    <div class="col_2">
                                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>             
                                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>             
                                    </div>
                                    <div class="col_2">
                                        <h2>Cross Browser Support</h2>
                                    </div>
                                    <div class="col_1">
                                        <img src="image/browsers.png" width="125" height="48" alt="" />
                                    </div>
                                    <div class="col_1">
                                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                                    </div>
                                </div><!-- End 2 columns container -->
                                </li><!-- End Home Item -->

                                <li><a href="#" class="drop">Menu</a><!-- Begin Home Item -->
                                <div class="dropdown_2columns"><!-- Begin 2 columns container -->
                                    <div class="col_2">
                                        <h2>Welcome !</h2>
                                    </div>
                                    <div class="col_2">
                                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>             
                                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>             
                                    </div>
                                    <div class="col_2">
                                        <h2>Cross Browser Support</h2>
                                    </div>
                                    <div class="col_1">
                                        <img src="image/browsers.png" width="125" height="48" alt="" />
                                    </div>
                                    <div class="col_1">
                                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                                    </div>
                                </div><!-- End 2 columns container -->
                                </li><!-- End Home Item -->

                                <li><a href="#" class="drop">Menu</a><!-- Begin Home Item -->
                                <div class="dropdown_2columns"><!-- Begin 2 columns container -->
                                    <div class="col_2">
                                        <h2>Welcome !</h2>
                                    </div>
                                    <div class="col_2">
                                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>             
                                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>             
                                    </div>
                                    <div class="col_2">
                                        <h2>Cross Browser Support</h2>
                                    </div>
                                    <div class="col_1">
                                        <img src="image/browsers.png" width="125" height="48" alt="" />
                                    </div>
                                    <div class="col_1">
                                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                                    </div>
                                </div><!-- End 2 columns container -->
                                </li><!-- End Home Item -->

                                <li><a href="#" class="drop">Dropdown</a><!-- Begin 4 columns Item -->
                                <div class="dropdown_4columns"><!-- Begin 4 columns container -->
                                    <div class="col_4">
                                        <h2>This is a heading title</h2>
                                    </div>
                                    <div class="col_1">
                                        <h3>Some Links</h3>
                                        <ul>
                                            <li><a href="#">ThemeForest</a></li>
                                            <li><a href="#">GraphicRiver</a></li>
                                            <li><a href="#">ActiveDen</a></li>
                                            <li><a href="#">VideoHive</a></li>
                                            <li><a href="#">3DOcean</a></li>
                                        </ul>   
                                    </div> <!-- /col_1 -->

                                    <div class="col_1">
                                        <h3>Some Links</h3>
                                        <ul>
                                            <li><a href="#">ThemeForest</a></li>
                                            <li><a href="#">GraphicRiver</a></li>
                                            <li><a href="#">ActiveDen</a></li>
                                            <li><a href="#">VideoHive</a></li>
                                            <li><a href="#">3DOcean</a></li>
                                        </ul>   
                                    </div> <!-- /col_1 -->

                                    <div class="col_1">
                                        <h3>Some Links</h3>
                                        <ul>
                                            <li><a href="#">ThemeForest</a></li>
                                            <li><a href="#">GraphicRiver</a></li>
                                            <li><a href="#">ActiveDen</a></li>
                                            <li><a href="#">VideoHive</a></li>
                                            <li><a href="#">3DOcean</a></li>
                                        </ul>   
                                    </div> <!-- /col_1 -->

                                    <div class="col_1">
                                        <h3>Some Links</h3>
                                        <ul>
                                            <li><a href="#">ThemeForest</a></li>
                                            <li><a href="#">GraphicRiver</a></li>
                                            <li><a href="#">ActiveDen</a></li>
                                            <li><a href="#">VideoHive</a></li>
                                            <li><a href="#">3DOcean</a></li>
                                        </ul>   
                                    </div> <!-- /col_1 -->
                                </div><!-- End 4 columns container -->
                                </li><!-- End 4 columns Item -->
                            </ul> <!-- /menu ul -->
                        </div> <!-- /span8 -->
                        <div class="span6" style="line-heigh:21px">
                            <form class="pull-right" action>
                                <input type="text" placeholder="Search">
                                <button class="btn" type="submit">Search</button>
                            </form>
                        </div> <!-- /search form -->
                    </div> <!-- /row -->
                </div> <!-- /page header -->
