                {% include "header.html" %}
                <div class="alert-message block-message warning fade in" data-alert="alert">
                    <a class="close" href="#">×</a>
                    <p><strong>Holy guacamole! This is a warning!</strong> bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
                </div>
                <div class="row">
                    <div class="span14">
                        <form action="">
                            <fieldset>
                                <legend>New to Bags-of-Design?</legend>
                                <div class="clearfix">
                                    <label for="username">User name</label>
                                    <div class="input">
                                        <input class="xlarge" id="xlInput3" name="xlInput3" size="30" type="text" />
                                        <span class="help-inline">tips</span>
                                    </div>
                                </div><!-- /clearfix -->

                                <div class="clearfix">
                                    <label for="password">Password</label>
                                    <div class="input">
                                        <input class="xlarge" id="xlInput3" name="xlInput3" size="30" type="text" />
                                        <span class="help-inline">tips</span>
                                    </div>
                                </div><!-- /clearfix -->

                                <div class="clearfix">
                                    <label for="email">Email</label>
                                    <div class="input">
                                        <input class="xlarge" id="xlInput3" name="xlInput3" size="30" type="text" />
                                        <span class="help-inline">tips</span>
                                    </div>
                                </div><!-- /clearfix -->

                                <div class="clearfix">
                                    <label for="gender">Gender</label>
                                    <div class="input">
                                        <select class="span2" name="mediumSelect" id="mediumSelect">
                                            <option>Female</option>
                                            <option>Male</option>
                                        </select>
                                    </div>
                                </div><!-- /clearfix -->

                                <div class="clearfix">
                                    <label>Birthday</label>
                                    <div class="input">
                                        <div class="inline-inputs">
                                            <select class="span2" name="mediumSelect" id="mediumSelect">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                            Day
                                            <select class="span2" name="mediumSelect" id="mediumSelect">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            Month
                                            <select class="span2" name="mediumSelect" id="mediumSelect">
                                                <option>1987</option>
                                                <option>1988</option>
                                                <option>1989</option>
                                            </select>
                                            Year
                                        </div>
                                    </div>
                                </div><!-- /clearfix -->

                                <div class="clearfix">
                                    <label for="address">Address</label>
                                    <div class="input">
                                        <textarea class="xxlarge" id="textarea2" name="textarea2" rows="3"></textarea>
                                        <span class="help-block">
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                                        </span>
                                    </div>
                                </div><!-- /clearfix -->

                            </fieldset>

                            <div class="actions">
                                <button type="submit" class="btn primary">Sign up</button>&nbsp;<button type="reset" class="btn">Cancel</button>
                            </div>
                        </form> <!-- /form -->
                    </div> <!-- /span14 -->
                </div> <!-- /row -->
            </div> <!-- /content -->

            {% include "footer.html" %}
