                {% include "header.html" %}
                <div class="row">
                    <div class="span4">
                        <h3>Some Filter</h3>
                        <h4>Price</h4>
                        <form action="" class="form-stacked">
                            <fieldset>
                                <div class="clearfix">
                                    <div class="input">
                                        <ul class="inputs-list">
                                            <li>
                                            <label>
                                                <input type="checkbox" name="" value="">
                                                <span>100-500</span>
                                            </label>
                                            </li>
                                            <li>
                                            <label>
                                                <input type="checkbox" name="" value="">
                                                <span>500-1000</span>
                                            </label>
                                            </li>
                                            <li>
                                            <label>
                                                <input type="checkbox" name="" value="">
                                                <span>1000-5000</span>
                                            </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!-- /clearfix -->
                            </fieldset>
                        </form>

                        <h4>Size</h4>
                        <form action="" class="form-stacked">
                            <fieldset>
                                <div class="clearfix">
                                    <div class="input">
                                        <ul class="inputs-list">
                                            <li>
                                            <label>
                                                <input type="checkbox" name="" value="">
                                                <span>10-20</span>
                                            </label>
                                            </li>
                                            <li>
                                            <label>
                                                <input type="checkbox" name="" value="">
                                                <span>20-30</span>
                                            </label>
                                            </li>
                                            <li>
                                            <label>
                                                <input type="checkbox" name="" value="">
                                                <span>30-40</span>
                                            </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!-- /clearfix -->
                            </fieldset>
                        </form>

                    </div> <!-- /secondary content -->

                    <div class="span10">
                        <h2>Products</h2>
                        <div class="row">
                            <div class="py-span-one-two">
                                <h2>Item</h2>
                                <img src="image/260x150.gif" />
                                <p><b>Price</b><br/><b>Date</b></p>
                                <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
                                <p><a class="btn" href="#">View details &raquo;</a></p>
                            </div>

                            <div class="py-span-one-two">
                                <h2>Item</h2>
                                <img src="image/260x150.gif" />
                                <p><b>Price</b><br/><b>Date</b></p>
                                <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
                                <p><a class="btn" href="#">View details &raquo;</a></p>
                            </div>
                            <div class="py-span-one-two">
                                <h2>Item</h2>
                                <img src="image/260x150.gif" />
                                <p><b>Price</b><br/><b>Date</b></p>
                                <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
                                <p><a class="btn" href="#">View details &raquo;</a></p>
                            </div>
                            <div class="py-span-one-two">
                                <h2>Item</h2>
                                <img src="image/260x150.gif" />
                                <p><b>Price</b><br/><b>Date</b></p>
                                <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
                                <p><a class="btn" href="#">View details &raquo;</a></p>
                            </div>
                        </div> <!-- /row -->
                    </div>
                </div> <!-- /row -->
            </div> <!-- /content -->
            {% include "footer.html" %}
